<div class="retourButton">
  <button mat-button style="background-color: #bdbdbd" (click)="goTolist()"><i class="fa-solid fa-circle-arrow-left"></i> Back to Blog list</button>
</div>
<div class="addForm">
  <h1 class="centerBlog">Add New Blog</h1>

  <div class="card centerBlog" style="width: 90%">

    <form [formGroup]="form">
      <div class="form-group">
        <label for="exampleFormControlInput1">Title: </label>
        <input formControlName="title" type="text"style="width: 100%;height: 30px" class="form-control" id="exampleFormControlInput1" placeholder="Title">
        <span *ngIf="form.controls.title.errors&&form.controls.title.touched" style="color: red; font-size: 13px">
            * Title is required !
          </span>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Author: </label>
        <input formControlName="author" style="width: 100%;height: 30px" type="text" class="form-control" id="exampleFormControlInput2" placeholder="Author">
        <span *ngIf="form.controls.author.errors&&form.controls.author.touched" style="color: red; font-size: 13px">
            * Author is required !
          </span>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content: </label>
        <textarea formControlName="content" class="form-control" id="exampleFormControlTextarea1" rows="7" style="width: 100%"></textarea>
        <span *ngIf="form.controls.content.errors&&form.controls.content.touched" style="color: red; font-size: 13px">
            * Content is required !
          </span>
      </div>


    </form>
  </div>
  <div>
    <button mat-button color="primary" [disabled]="!form.valid" class="addButton" [class.addButtonDisable]="!form.valid"  (click)="addBlog()"> Save</button>
  </div>

</div>
